<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showproject.hospital.mapper.MessageMapper">
    <insert id="insertMessage" parameterType="com.showproject.hospital.pojo.Message">
        INSERT INTO message (msg_type, msg_title, msg_content, msg_time, sender_id, receiver_id, receiver_role, is_read, is_deleted)
        VALUES (#{msgType}, #{msgTitle}, #{msgContent}, #{msgTime}, #{senderId}, #{receiverId}, #{receiverRole}, 0, 0)
    </insert>

    <select id="getMessagesByReceiver" resultType="com.showproject.hospital.pojo.Message">
        SELECT * FROM message
        WHERE receiver_id = #{receiverId} AND receiver_role = #{receiverRole} AND is_deleted = 0
        ORDER BY msg_time DESC
    </select>

    <select id="getSystemMessages" resultType="com.showproject.hospital.pojo.Message">
        SELECT * FROM message
        WHERE receiver_id IS NULL AND is_deleted = 0
        ORDER BY msg_time DESC
    </select>

    <update id="markAsRead">
        UPDATE message SET is_read = 1 WHERE msg_id = #{msgId}
    </update>

    <update id="deleteMessage">
        UPDATE message SET is_deleted = 1 WHERE msg_id = #{msgId}
    </update>

    <update id="adminDeleteMessage">
        UPDATE message SET is_deleted = 1 WHERE msg_id = #{msgId}
    </update>
</mapper>
